<% provide(:title, 'About') %>

<body class = "about">

  <h1>Objective</h1>
    <p>Here's My Card was created in April 2016, by Darion Hall, as a project for General Assembly Atlanta's Web Development Immersive Course. This Ruby on Rails application allows users to quickly create and share business cards online through email. With Here's My Card, users will never miss an opportunity to network and exchange information. Because users may have more than one profession, talent, and/or career path, Here's My Card allows you to create as many cards as you need. Through this application, you will always maximaze networking opportunities. User Authentication and Authorization are both built in to the application.
    </p>
  <h2>Technology Used</h2>
    <ul>
<!--       <li><a href="https://github.com/darionhall/Card-App">README file for Here's My Card</a></li> -->
      <li><a href="https://www.ruby-lang.org/">Ruby 2.2</a></li>
      <li><a href="http://rubyonrails.org/">Rails 4.2</a></li>
      <li><a href="http://www.postgresql.org/">PostgreSQL 9.4</a></li>
      <li><a href="http://getbootstrap.com/">Twitter Bootstrap 3.3</a></li>
      <li><a href="http://sass-lang.com/">SASS 3.4</a></li>
      <li><a href="https://github.com/decioferreira/bootstrap-generators">bootstrap-generators 3.3</a></li>

</body>
